<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<body data-ng-app="rot13Decoder" data-ng-controller="mainCtrl">
  
  
  <h1> Encryptor &amp; Decryptor</h1>
  <p>Enter the text you wish to <span class="strong">encrypt</span> or <span class="strong">decrypt</span>.</p>
 
  <lib-acme-crypto></lib-acme-crypto>
  
  

  <!-- <button type="button" (click)="EncryptorDecryptorROT13()">Crypto ROT13</button>
  <button type="button" (click)="CryptoZmap()">Crypto Zmap</button>
  <button type="button" (click)="DeCryptoZmap()">DeCrypto Zmap</button>
  <textarea data-ng-model="newTxt" disabled>{{character}}</textarea> -->

  

  <!-- <button type="button" (click)="ConvertBinarieToString()">Convert binarie to string</button> -->

  
</body>
